@tailwind base;
@tailwind components;
@tailwind utilities;

tbody tr:nth-child(odd){
    @apply bg-secondary
}

td{
    @apply px-4 py-1 font-semibold
}

button {
    @apply hover:scale-[0.98] transition-all duration-300 hover:brightness-95
}

.question-wrap .list:nth-child(odd) {
    @apply bg-secondary
}

/* styles.css */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
